<!DOCTYPE html>
<html>
<head>
    <title>Cancel Booking</title>
    <link rel="stylesheet" 
href=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
integrity=
"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
crossorigin="anonymous">    
          
<link rel="stylesheet" type="text/css" href="style.css">
          
</head>
<style>
    .main{
        padding:20px;
        font-family: 'Helvetica', serif;
        box-shadow: 5px 5px 7px 5px #888888;
          
    }
    .main h1{
        font-size: 40px;
        text-align:center;
        font-family: 'Helvetica', serif;
          
    }
    input{
        font-family: 'Helvetica', serif;
        width: 100%;
        font-size: 20px;
        padding: 12px 20px;
        margin: 8px 0;
        border: none;
        border-bottom: 2px solid #767474;
    }
    input[type=submit] {
        font-family: 'Helvetica', serif;
        width: 100%;
        background-color: #767474;
        border: none;
        color: white;
        padding: 16px 32px;
        margin: 4px 2px;
        border-radius: 10px;
    }
</style>
<body>
      
    <br>
    <br>
    <br>
    <div class="container" >
        <div class="row">
        <div class="col-md-3">
                      
        </div>
                  
        <div class="col-md-6 main">
                      
            <form action="/cancel" method="post">
                      
            <h1> Cancel Booking </h1>
                              
            <input class="box" type="textarea" name="subject" id="subject" 
            placeholder="Write the carid" required /><br>
                              
            <input type="submit" id="submitDetails"  
            name="submitDetails" value="Submit" /><br>
                      
            </form>
                      
        </div>
                  
                  
        <div class="col-md-3">
        </div>
                  
    </div>
    </div>
</body>
</html>