<html>
	<head>
	<style>
		body{
margin: 0;
padding: 0;
background: #fff;

color: #fff;
font-family: Arial;
font-size: 12px;
}

.body{
position: absolute;
top: -20px;
left: -20px;
right: -40px;
bottom: -40px;
width: auto;
height: auto;
background-image: url(https://tse2.mm.bing.net/th?id=OIP.oPjRQh3h7ZeA7Os8ZVMONwHaD4&pid=Api&P=0);
background-size: cover;
-webkit-filter: blur(5px);
z-index: 0;
}

.grad{
position: absolute;
top: -20px;
left: -20px;
right: -40px;
bottom: -40px;
width: auto;
height: auto;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
z-index: 1;
opacity: 0.7;
}

.header{
position: absolute;
top: calc(50% - 35px);
left: calc(50% - 255px);
z-index: 2;
}

.header div{
float: left;
color: #fff;
font-family: 'Exo', sans-serif;
font-size: 35px;
font-weight: 200;
}

.header div span{
color: white !important;
}

.login{
position: absolute;
top: calc(50% - 75px);
left: calc(50% - 50px);
height: 150px;
width: 350px;
padding: 10px;
z-index: 2;
}

.login input[type=text]{
width: 250px;
height: 30px;
background: transparent;
border: 2px solid #B9E2E0;
border-radius: 4px;
color: #fff;
font-family: 'Exo', sans-serif;
font-size: 16px;
font-weight: 400;
padding: 4px;
}
.login input[type=number]{
width: 250px;
height: 30px;
background: transparent;
border: 2px solid #B9E2E0;
border-radius: 4px;
color: #fff;
font-family: 'Exo', sans-serif;
font-size: 16px;
font-weight: 400;
padding: 4px;
}

.login input[type=password]{
width: 250px;
height: 30px;
background: transparent;
border: 2px solid #B9E2E0;
border-radius: 4px;
color: #fff;
font-family: 'Exo', sans-serif;
font-size: 16px;
font-weight: 400;
padding: 4px;
margin-top: 10px;
}

.login input[type=button]{
width: 260px;
height: 35px;
background: #fff;
border: 1px solid #fff;
cursor: pointer;
border-radius: 2px;
color: #a18d6c;
font-family: 'Exo', sans-serif;
font-size: 16px;
font-weight: 400;
padding: 6px;
margin-top: 10px;
}

.login input[type=button]:hover{
opacity: 0.8;
}

.login input[type=button]:active{
opacity: 0.6;
}

.login input[type=text]:focus{
outline: none;
border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
outline: none;
border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
outline: none;
}

::-webkit-input-placeholder{
color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
color: rgba(255,255,255,0.6);
}
.form{
font-size: 20px;
color:lightblue;

}
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}
.button {
  
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

	</style>
	</head>
<link href="C:\Users\User\Desktop\Car rentals\CSS\form.css" rel="stylesheet">
<div class="body"></div>

		<div class="grad"></div>
		<div class="header">
			<div>Car <span>Rentals</span></div>
		</div>
		<br>
		<div class="login">
			<form action="/">
				<label for="username">Username:</label>
				<input type="text" id="username" name="username" required><br><br>
				<label for="num">Number:</label>
				<input type="number" id="username" name="Number" required><br><br>
				<label for="sub">Subject:</label>
				<input type="text" id="username" name="Subject" required><br><br>
				<center><input type="submit" class="button button1"></center>
			  </form>
				
				
		</div>
</html>